<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/404.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="error-wrapper">
      <div class="error-container">
        <div class="error">
          <div class="error-title">Error</div>
          <div class="error-number">404</div>
          <div class="error-description">
            Sorry, The page you were looking for doesn't exist
          </div>
          <div class="error-or">
            <div class="or-line"></div>
            <div class="or">Or</div>
          </div>
          <div class="col-12 text-center list-unstyled my-3">
            <h5>
              <a href="/login">return to login!</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
