<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>

  <body class="bg-dark">
    <div class="centered-form">
      <div class="centered-form__box">
        <h5 class="text-center">Please select your room</h5>

        <form action="/chat" method="POST">
          <div class="col-12 text-center">
            <h5>Display name:</h5>
            <p class="text-center text-warning text-capitalize">
              <%= username %>
            </p>
          </div>
          <input
            class="text-light rounded-pill my-5"
            type="text"
            name="username"
            placeholder="Display name"
            autocomplete="off"
            required
          />
          <input
            class="text-light rounded-pill mt-5"
            type="text"
            name="room"
            placeholder="Room"
            autocomplete="off"
            required
          />
          <button class="btn btn-info rounded-pill my-5">Join</button>
        </form>
      </div>
    </div>
    <script src="/js/chat.js"></script>
  </body>
</html>
