<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %> 

<body class='bg-dark'>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Join</h1>
            <form action="./chat.html">
                <input class="text-light rounded-pill my-5" type="text" name="username" placeholder="Display name"
                    autocomplete="off" required>
                <input class="text-light rounded-pill mt-5" type="text" name="room" placeholder="Room"
                    autocomplete="off" required>
                <button class="btn btn-info rounded-pill my-5">Join</button>
            </form>
        </div>
    </div>
</body>

</html>